* {
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    margin-top: -16px;
}

header {
    background-color: white;
    height: 150px;
    margin-top: 20px;
    box-shadow: 2px 2px 12px 1px gray;
    text-shadow: 1px 1px 1px;
    position: relative;
}

.patitoLogo {
    width: 270px;
    margin-top: -2px;
    left: -290px;
    position: absolute;
}

.botonxd {
    margin-left: -115px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    left: 140px;
    top: 15px;
    padding: 4px 8px;
    overflow-y: auto;
    font-size: 55px;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    z-index: 90;
}
.botonxd:hover {
    background-color: #E6E6E6;
    color: white;
}
.botonxd:active {
    background-color: black;
}
.fa-solid {
    color :#CB6CE6;
}
.cocinatitos {
    font-size: 39px;
    position: fixed;
    margin-top: 40px;
    margin-left: 550px;
    font-weight: 500;
    color: BLACK;

}
strong {
    color: #ffcd00;
}
img {
    width: 100px;
    margin-top: 8px;
    margin-left: 870px;
    position: fixed;
}


.nav-menu {
    width: 200px;
    height: 120px;
    margin-left: -290px;
    position: absolute;
    display: block;
    transition: 0.2s;
}
.nav-menu-visible {
    display: block;
    margin-left: 90px;
}
.nav-ul {
    height: 100%;
    position: relative;
}
.nav-li {
    margin: 10px;
    list-style:none;
    padding: 3px;
    box-shadow:  rgb(202, 202, 202) 1px 0px 5px;
}
.nav-a {
    color: #CB6CE6;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}
#nav-a-1 {
    margin-left: 29px;
}
#nav-a-2 {
    margin-left: 29px;
}

#nav-a-3 {
    margin-left: 29px;
}
.nav-a:hover {
    color: rgb(202, 199, 199);
}


.primerBloque {
    background:#a4a4a6;
    margin-top:10px;
    width: 100%;
    height: 120px;
    color: white;
    margin-bottom: 10px;
    box-shadow: 1px 1px 5px 2px rgb(150, 148, 148);
}
h2 {
    color: #ffff;
    margin-left: 320px;
    font-size: 25px;
    position: absolute;
    margin-top: 30px;
    text-shadow: 1px 1px 1px black;
}

#home {
    position: relative;
    left: -10px;
    top: -2px;
}
#image {
    position: relative;
    left: -10px;
    top: -2px;
}

#perfil {
    position: relative;
    left: -10px;
    top: -2px;
}
.patitoCamara {
    left: 50px;
    top: 160px;
    position: absolute;
}

.row {
    width: 100%;
    height: 1000px;
    background-image: url(../images/fondo.png), linear-gradient(0.25turn, #CB6CE6, #df8ef5, #CB6CE6);
}
.columnas img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    border: 2px solid white;
    border-radius: 3px;
}

.foto1 {
    left: 150px;
}
.foto2 {
    left: -350px;
}
.foto3 {
    left:-600px;
}
.foto4 {
    left: -850px
}
.foto5 {
    left: -100px;
}
.columnas2 img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 300px;
    border: 2px solid white;
    border-radius: 3px;
}
.columnas3 img {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 550px;
    border: 2px solid white;
    border-radius: 3px;
}

#buttonFoto1 {
    margin-top: 50px;
    left: 20px;
    width: 200px;
    height: 200px;
    padding: 2px 80px ;
    position: absolute;
    z-index: 400;
    cursor: pointer;
    opacity: 0;
    background: black;
}

#buttonFoto1 p {
    color: white;
    padding: 10px;
    top: 50px;
    left: 63px;
    font-size: 20px;
    display: inline;
    position: absolute;
}
#camera {
    color: white;
    font-size: 17px;
    top: 82px;
    left: 49px;
    position: absolute;
}



#info {   
        margin-top: 50px;
        left: 20px;
        width: 200px;
        height: 200px;
        padding: 2px 80px ;
        position: absolute;
        text-decoration: none;
        background-color: white;
        z-index: 400;
        display: none;
    }

#buttonFoto1:hover {
    margin-top: 50px;
    left: 20px;
    width: 200px;
    height: 200px;
    padding: 2px 80px ;
    position: absolute;
    z-index: 400;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.6;
}


.botonRectangulo {
    color: black;
}


